body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: green;
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  color: darkgreen;
}

.nav-bar {
  background-color: #348A09;
}

.jumbotron-smaller {
  opacity: 1.0;
  background-color: white;
  height: 600px;
}

.links {
  font-size: 15px;
}

.btn-primary {
  color: #fff;
  background-color: green;
  border-color: green;
}

.btn-primary:hover {
  background-color: #3F9C11;
  border-color: #3F9C11;
  cursor: pointer;
}

.btn-primary:active {
  background-color: #3F9C11;
  border-color: #3F9C11;
}

.fa {
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}